<header class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="header-container"></header>
<div id="page-container"></div>
<hr>
<footer class="container"><p>&copy; Company 2014</p></footer>
