<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h2>{{t "Chaplin with browserify on grunt"}}</h2>
    <p>{{t "Chaplin 项目样板，利用browserify 解决包管理问题，项目构建使用 grunt。代码使用 coffee 来书写。"}}</p>
    <p><a class="btn btn-primary btn-lg" href="#!/summary" role="button">{{t "了解更多"}} &raquo;</a></p>
  </div>
</div>

<div class="container" id="feature-list">
</div> <!-- /container -->
