<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h2>{{t "Kiwi分页功能"}}</h2>
    <p>{{t "kiwi 分页提供客户端分页和服务端分页两种功能，可以url跟踪也可以不跟踪"}}</p>
  </div>
</div>

<div class="container" id="feature-detail">
</div> <!-- /container -->
