<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h2>{{t "Kiwi的插件之一分页"}}</h2>
    <p>{{t "kiwi-pagination 提供客户端分页和服务端分页两种功能，可以url跟踪也可以不跟踪"}}</p>
  </div>
</div>

<div class="container" id="feature-detail">
</div> <!-- /container -->
